a {
  text-decoration: none;
}

.no-indent {
  padding-left: 20px;
}

.label {
  color:     grey;
  font-weight: bold;
}

/* Page */

:root {
  --primary-color:   #000000;
  --secondary-color: #ffffff;
  --accent-color:    #FFA500;
  --text-color:      #333333;
}

body {
  font-family: 'Arial', sans-serif;
  font-size:   18px;
  line-height: 1.6;
  color: var(--text-color);
  margin:      0;
  padding:     0;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width:   30%;
  background-color: var(--primary-color);
  color:   var(--secondary-color);
  padding: 2rem;
}

.sidebar a {
  color: #fff;
}

.main-content {
  width:       70%;
  background-color: var(--secondary-color);
  padding:     2rem;
  padding-top: 1.5rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sidebar, .main-content {
    width: 100%;
  }
}

.profile-img {
  width:         150px;
  /*
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--accent-color);
  */
  margin-top:    0.15rem;
  margin-bottom: 0.25rem;
}

h1, h2 {
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.sidebar h2 {
  color: var(--secondary-color);
  /* border-bottom: 2px solid var(--accent-color); */
  padding-bottom: 0.5rem;
}

.contact-info p {
  margin: 0.5rem 0;
}

.contact-info td {
  padding-right: 8px;
}

.skill {
  margin-bottom: 1rem;
}

.skill-name {
  font-weight:   bold;
  margin-bottom: 0.25rem;
}

.skill-bar {
  background-color: var(--secondary-color);
  height:        5px;
  border-radius: 5px;
}

.skill-level {
  background-color: var(--accent-color);
  height:        100%;
  border-radius: 5px;
}

.lang-skill {
  display:          inline-block;
  background-color: var(--accent-color);
  color:            var(--primary-color);
  padding:          0.25rem 0.5rem;
  border-radius:    15px;
  margin:           0 5px 5px 0;
  font-size:        0.8em;
}

.misc-personal {
  font-size: 0.8em;
}

.misc-personal td {
  padding-right: 8px;
}

/* Timeline */

.timeline {
  position: relative;
}

.timeline::before {
  content:  '';
  position: absolute;
  left:     4px;
  top:      0;
  bottom:   0;
  width:    2px;
  background-color: var(--accent-color);
}

.experience-item, .education-item {
  margin-bottom: 1.5rem;
  position:      relative;
  padding-left:  20px;
}

.experience-item::before, .education-item::before {
  display: none;
}

.experience-item h3, .education-item h3 {
  position: relative;
}

.experience-item h3::before, .education-item h3::before {
  content:          '';
  position:         absolute;
  left:             -21px;
  top:              50%;
  width:            10px;
  height:           10px;
  background-color: var(--accent-color);
  border-radius:    50%;
  transform:        translateY(-50%);
}

.experience-item .details, .education-item .details {
  font-size: 16px;
}

/* Misc */

.date {
  font-style: italic;
  color:      var(--accent-color);
}

.footer {
  font-size:  18px;
  color:    grey;
  text-align: center;
}

@media print {

  a {
    text-decoration: none;
    color: var(--secondary-color) !important;
  }

  .new-page {
    page-break-inside: avoid;
    page-break-before: always;
    margin-top: 20px;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  
  .container {
    display: flex !important;
  }
  
  .sidebar {
    width:   30% !important;
    background-color: var(--primary-color) !important;
    color:   var(--secondary-color) !important;
    padding: 1rem !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  .main-content {
    width:   70% !important;
    padding: 1rem !important;
  }
  
  .sidebar h2 {
    color: var(--secondary-color) !important;
    border-bottom-color: var(--accent-color) !important;
  }
  
  .skill-bar {
    background-color: var(--secondary-color) !important;
  }
  
  .skill-level, .lang-skill {
    background-color: var(--accent-color) !important;
  }
  
  .lang-skill {
    font-size: 0.6em;
    color: var(--primary-color) !important;
  }

  h1, h2, .date {
    color: var(--accent-color) !important;
  }
/*
  .main-content h2, .main-content .date {
    color: var(--primary-color) !important;
  }
*/
  .main-content a {
    color: var(--primary-color) !important;
  }
}
